ConsoleApp1/Connected Services/ServiceReference1/WCFTest1.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFTest1.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFTest1.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGameRating">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameRating" nillable="true" type="tns:GameRating" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameRating" nillable="true" type="tns:ArrayOfGameRating" />
  <xs:complexType name="GameRating">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameRating" nillable="true" type="tns:GameRating" />
</xs:schema>